@{
    ViewBag.Title = "Index";
}

@model List<CommandPanel.Models.ContentModels.ContentViewModel>

<h2>Content</h2>
@{
    var index = 1;
    foreach (var image in @Model)
    {
        <div>
            <img src="@image.Link" height="200" width="300"/>
        </div>
        {
            index++;
        }
    }
}
