@{
    ViewBag.Title = "Index";
}

@model CommandPanel.Models.AccountModels.AccountMainStatisticViewModel

<div class="row">

    <div class="followers-box">
        <div>Followers count:</div>
        <div class="followers-count">@Model.FollowersCount</div>
        <div>Date: @Model.LastStatisticDate</div>
    </div>

    <div>
        <a href="@Url.Action("Index", "HashTag", new { accountId = Model.AccountId })" class="btn btn-primary"> Hash tags </a>
    </div>
</div>
