body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    padding-top: 20px   
}

.account-list-line:hover  {
    background-color: #428bca;
    color: white;
    cursor: pointer
}

.no-line-link:link {
    text-decoration: none;
}

.no-line-link:visited {
    text-decoration: none;
}

.no-line-link:hover {
    text-decoration: none;
}

.no-line-link:active {
    text-decoration: none;
}

.boxes {
    display: inline-block;
}

.followers-box {
    width: 200px;
    text-align: center;
    border: 2px #428bca groove;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

.followers-box .followers-count {
    font-size: 30px;
    color: #428bca;
    vertical-align: top;
}

.inner-box {
    width: 450px;
    border: 2px #428bca groove;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.inner-box .followers-count{
    font-size: 18px;
    color: #428bca;
    vertical-align: top;
}

.head-panel {
    width: 100%;
    vertical-align: top
}

#chartContainer {
    height: 300px; 
    width: 100%;
}

.center-space {
    display: inline-block;
    min-width: 40%;
    vertical-align: top;
    padding-left: 30px;
    margin-top: 20px;
}

.chart-box {
    max-width: 100%;
    display: inline-block;
}

.input-hashtag {
    margin: 10px
}

.blue-box {
    margin: 5px;
    padding: 25px;
    background-color: #428bca;
    width: 50px;
    display: inline-block
}

.blue-box:hover {
    background-color: #92cbfa;
    text-decoration: none;    
}

.green-box {
    margin: 5px;
    padding: 25px;
    background-color: #42ca8b;
    width: 50px;
    display: inline-block;
}

.green-box:hover {
    background-color: #9bfa92;
    text-decoration: none;
}

.red-circle {
    border-radius: 50%;
    border-color: #ea4b42;
    border-width: 5px;
    border-style: double;
    background-color: white;
    color: black;
    font-size: 32px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 4px;
    margin-left: 4px;
    text-decoration: none;
}

.red-circle:hover {
    background-color: #92cbfa;
    text-decoration: none;
}

.functionality-line {
    padding-top: 10px!important;
    padding-bottom: 0!important;
    margin-bottom: 0 !important;
}

.functionality-section {
    background-color: #72abea;
    width: 40%;
    display: inline-block;
    float: right
}

.inline-box {
    display: inline-block;
    vertical-align: middle
}

.box200 {
    width: 200px;
    margin-left: 10px;
}

.buttons-list {
    display: inline-block;
    max-width: 100px;
    vertical-align: top
}

.lists-section {
    margin-top: 25px;
}

.action-button {
    width: 200px;
    margin-top: 10px;
}

#dialogContent, #dialogContent2, #dialogContent3, #dialogContent4 {
    width: 400px;
    height: 200px;
    border: 1px #428bca double;
    background-color: white;
    margin-top: 300px;
}

.modal-buttons {
    text-align: center;
}

.modal-header {
    margin-bottom: 30px;
    text-align: center 
}

.asap {
    color: red;
    font-size: 30px
}

.no-asap a {
    color: green!important;
    font-size: 20px;
    text-decoration: none;
}

.no-asap:hover {
    text-decoration: none;
    padding: 5px;
}

.center-data {
    display: inline-block;
    padding-left: 130px;
} 

.separated-inputs {
    padding-top: 15px;
}

.bottom-line {
    padding-bottom: 10px;
}