@{
    ViewBag.Title = "Home Page";
}

@model List<CommandPanel.Models.HomeModels.AccountViewModel>

<div class="row">
    <div>
        <a href="@Url.Action("Index", "Bot")" class="btn btn-primary pull-right">Go to bots</a>
    </div>
</div>

<hr/>

<div class="row">

    @foreach (var account in Model)
    {
        <a href="@Url.Action("Index", "AccountMainPage", new { accountId = account.AccountId })" class="no-line-link">
            <div class="panel panel-primary account-list-line">
                <div class="panel-body">@account.Name</div>
            </div>
        </a>
    }

</div>